python-multipart==0.0.19
fastapi==0.115.4
fastapi-utils==0.7.0
uvicorn==0.24.0.post1
python-dotenv==1.0.0
urlextract==1.8.0
pandas==2.2.0
typing-inspect

mammoth==1.7.1
beautifulsoup4==4.12.3
pyarrow==16.0.0
pydantic==2.9.2
redis==5.2.0

# Testing
pytest 
pytest-mock
pytest-asyncio 

# update after merge to master
SemanticDocumentParser @ git+https://github.com/YorkUITInnovation/SemanticDocumentParser.git@feature/ragflow-migration
criadexsdk @ git+https://github.com/YorkUITInnovation/CriadexSDK.git@feature/ragflow-migration